body{
    margin: 0px;
    padding: 0px;
    color: white;
}
#main-navbar{
    padding: 10px;
    box-sizing: border-box;
    

}
#main-navbar ul{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-sizing: border-box;

    
}
#main-navbar ul li{
    display: inline;
    list-style-type: none;
    font-size: 20px;
    margin-left: 30px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 15px;
    box-sizing: border-box;

    
}
#main-navbar ul li:hover{
    color: white;
    text-shadow: 2px 4px 6px white;
    font-size: 20px;
}
main{
    
    background-image: url(../assets/moonlight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
}
#banner{
    width: 500px;
    position: absolute;
    top: 30%;
    right: 55%;
    padding: 20px;
}
#banner>h1{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
}
#banner>h4{
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 2px;
    font-family: 'Liu Jian Mao Cao', cursive;
}
footer{
    height: 100px;
    background-color: whitesmoke;
}
