.btn{
    
    margin: 10px;
    padding: 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

}
#btn-fb{
    background-color: rgb(54, 165, 202);

}
#btn-google{
    background-color: lightcoral;
}
#btn-github{
    background-color: black;
    color: white;
}

.label{
    padding-left: 8px;

}