body{
    background-image: url(../assets/Globe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 
}
#rocket-img{
    width: 100px;
    height: 100px;    
}
#rocket{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 45%;
    transform: translateX(50%);
    animation-name: flying ;
    animation-duration: 3s;
    animation-timing-function: linear;
    transform: rotate(100deg);
}

@keyframes flying{
    0%{
        top: 70%;
        left: 45%;
        transform: translate(50%,-50%);
        transform: rotateZ(90deg);
    }
    50%{
        top: 80%;
        left: 55%;
        transform: translate(50%,-50%);
        transform: rotateZ(30deg);
       
    }
    100%{
        top: 20%;
        left: 75%;
        transform: translateX(180deg);
        transform: scale(.15, .15);

    }
}
